<div id="wrapper">
  <my-player-controls
    [currentIndex]="currentIndex"
    [playlist]="playlist"
    [duration]="duration"
    (addToExistingPlaylist)="toggleAddToExistingPlaylist()"
    (search)="fetchPlaylist($event)"
    (shuffleChange)="shuffle()"
    (loopModeChange)="onLoopModeChange()"
    (play)="play($event)"
    (showPlayer)="togglePlayer()"
    (volume)="volumeChange($event)"
    (previousTrack)="previousTrack()"
    (nextTrack)="nextTrack()"
    (clearPlaylist)="clearPlaylist()"
  ></my-player-controls>
  <my-youtube-player
    [@playerVisible__player]="playlist.playerVisible"
    [videoId]="playlist.songs.length > 0 ? playlist.songs[playlist.activeIndex].videoId : null"
    [volume]="playlist.volume"
    (duration)="duration = $event"
    (playerState)="updatePlayerState($event)"
    [playlist]="playlist"
  ></my-youtube-player>
  <my-youtube-playlist
    [@playerVisible__playlist]="playlist.playerVisible"
    [playlist]="playlist"
  >
  </my-youtube-playlist>
</div>
